.details_main_container {
  display: grid;
  width: 960px;
  height: 82vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'form form'
    'error error'
    'title title'
    'graph graph'
    'graph graph'
    'graph graph'
    'data delete';
  background-color: #81a4cdff;
  border: 1px solid black;
  color: #fff;
  font-family: Arial sans-serif;
  font-size: larger;
  font-weight: 500;
}

.current_value {
  grid-area: date;
  height: 60vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.title {
  grid-area: title;
  height: 7vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
/* .end_date_form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.end_date_form > label {
  width: auto;
} */
.error {
  grid-area: error;
  height: 4vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.remove {
  grid-area: delete;
  height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.graph_date {
  grid-area: form;

  height: 7vh;
  background-color: #81a4cdff;
}
.crypto_graph {
  grid-area: graph;
  height: 50vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #dbe4eeff;
}
.crypto_info {
  grid-area: data;
  height: 7vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.form_container {
  display: flex;
  height: 7vh;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.details_show__form {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 7vh;
}
.details_show__form > button {
  margin-left: 0px;
}
