.crypto_container {
  margin-top: 50px;
  width: 960px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.individual_crypto {
  width: 960px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #054a91ff;
  color: #f17300ff;
  gap: 2px;
}
.individual_crypto > p {
  width: calc(900px / 7);
  font-family: 'Robot' sans-serif;
  font-weight: 400;
  font-size: large;
}
.ul_container {
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.li_elem {
  cursor: pointer;
  padding: 3px 3px;
  width: calc(3 * 12px);
  border: 1px solid #054a91ff;
  text-align: center;
}
.li_elem:active {
  background-color: #054a91ff;
}
.li_elem:hover {
  background-color: #054a91ff;
}

@media only screen and (max-width: 967px) {
  .crypto_container {
    width: 600px;
  }
  .individual_crypto {
    width: 600px;
  }
  .ul_container {
    width: 600px;
  }

  .individual_crypto > p {
    width: calc(600px / 7);
    font-family: 'Robot' sans-serif;
    font-weight: 200;
    font-size: medium;
  }
}
@media only screen and (max-width: 769px) {
  .crypto_container {
    width: 400px;
  }
  .individual_crypto {
    width: 400px;
  }
  .ul_container {
    width: 400px;
  }

  .individual_crypto > p {
    width: calc(400px / 7);
    font-family: 'Robot' sans-serif;
    font-weight: 200;
    font-size: medium;
  }
}

@media only screen and (max-width: 481px) {
  .crypto_container {
    width: 300px;
  }
  .individual_crypto {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .ul_container {
    width: 300px;
  }

  .individual_crypto > p {
    width: calc(300px / 7);
    font-family: 'Robot' sans-serif;
    font-weight: 100;
    font-size: small;
  }
}
@media only screen and (max-width: 381px) {
}
