.details_container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 400px;
  height: 320px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #81a4cdff;
  z-index: 11;
  opacity: 1;
}

p[data-close='close'] {
  order: 1;
  padding: 10px 10px;
  cursor: pointer;
}

.none {
  display: none;
}

.details_inside {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 5px;
  z-index: 10;
}
.details_inside > p {
  font-weight: 400;
  font-family: 'Roboto' sans-serif;
  color: #fff;
}

.details_inside > a:link {
  font-weight: 400;
  font-family: 'Roboto' sans-serif;
  color: #fff;
}

.details_inside > a:visited {
  font-weight: 400;
  font-family: 'Roboto' sans-serif;
  color: #3e7cb1ff;
}
.details_inside > a:hover {
  font-weight: 400;
  font-family: 'Roboto' sans-serif;
  color: #054a91ff;
}
.trending_container {
  z-index: -1;
  opacity: 1;
  margin-top: 50px;
  display: flex;
  flex-flow: column wrap;
  width: 960px;
  gap: 10px;
}

.container_stocks_details {
  margin-top: 20px;
  width: 960px;
}
.trending_details {
  width: 960px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}

.trending_details > p {
  width: calc(960px / 9);
  overflow: hidden;
  text-overflow: ellipsis;
}
.no_acces {
  width: 960px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: red;
}
.no_acces > p {
}

.no_acces > p:last-child {
  flex-grow: 2;
  text-align: center;
}

.show_details {
  display: block;
  position: relative;
  width: 960px;
  height: 400px;
}
.interaction_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.chartContainer {
  width: 960px;
  height: 400px;
}
[data-close='crypto'] {
  padding: 8px 8px;
  order: 3;
  text-transform: capitalize;
  text-align: center;
  background-color: #b9465b;
}
[data-search='cryptoSymbol'] {
  padding: 8px 8px;
  order: 2;
  text-align: center;
}

[data-add='cryptoAdd'] {
  order: 1;
  padding: 8px 8px;
  text-align: center;
  background-color: #46b9a4;
}

@media only screen and (max-width: 967px) {
  .container_stocks_details {
    margin-top: 20px;
    width: 900px;
  }
  .trending_details {
    width: 600px;
  }
  .trending_details > p {
    width: calc(600px / 9);
  }
  .show_details {
    width: 600px;
    height: 400px;
  }
  .interaction_container {
    justify-content: space-between;
    align-items: center;
  }
  .chartContainer {
    width: 600px;
  }
}
@media only screen and (max-width: 769px) {
  .container_stocks_details {
    margin-top: 20px;
    width: 400px;
  }
  .trending_details {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .trending_details > p {
    width: 100px;
  }
  .show_details {
    width: 400px;
    height: 400px;
  }
  .interaction_container {
    justify-content: space-between;
    align-items: center;
  }
  .chartContainer {
    width: 400px;
  }
  [data-button='removeFromTrackList'] {
    width: 100px;
  }
}

@media only screen and (max-width: 481px) {
  .container_stocks_details {
    margin-top: 20px;
    width: 200px;
  }
  .trending_details {
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .trending_details > p {
    width: 100px;
  }
  [data-button='removeFromTrackList'] {
    width: 100px;
  }

  .show_details {
    width: 200px;
    height: 400px;
  }
  .interaction_container {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .chartContainer {
    width: 200px;
  }
}
@media only screen and (max-width: 381px) {
  .container_stocks_details {
    margin-top: 20px;
    width: 200px;
  }
  .trending_details {
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .trending_details > p {
    width: 100px;
  }
  [data-button='removeFromTrackList'] {
    width: 100px;
  }
}
