.footer_container {
  position: fixed;
  bottom: 0px;
  margin-top: 20px;
  background-color: #172a53;
  height: 50px;
  width: 100vw;
  z-index: 1000;
}

.links {
  color: aliceblue;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
