.containerOutlet {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
  margin: 10px auto 60px auto;
}

@media only screen and (max-width: 967px) {
  .containerOutlet {
    width: 600px;
  }
}
@media only screen and (max-width: 769px) {
  .containerOutlet {
    width: 400px;
  }
}
@media only screen and (max-width: 481px) {
  .containerOutlet {
    width: 400px;
  }
}
@media only screen and (max-width: 381px) {
  .containerOutlet {
    width: 300px;
  }
}
