.highChart_levels__container {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.highChart_levels__level {
  height: 28px;
  width: auto;
}
.highChart_levels__level > span {
  display: inline-block;
  width: 30px;
}

.highChart_levels__level > p {
  display: inline-block;
  width: 250px;
  border-bottom: 2px solid gray;
  box-shadow: 1px 1px 2px gray;
}

/* values style */
.highChart_values {
  position: absolute;
  left: 14px;
  width: 250px;
  bottom: -14px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: stretch;
  color: #fff;
  font-family: sans-serif;
  font-size: small;
  transform: rotate(180deg);
}
.highChart_values__container {
  list-style: none;
  display: flex;
  height: fit-content;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

.highChart_values__hold {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: #de8e21;
}
.highChart_values__buy {
  background-color: #5cd664;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.highChart_values__strongBuy {
  background-color: #33cc3d;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.highChart_values__sell {
  background-color: #e74e4b;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.highChart_values__strongSell {
  background-color: #e1221e;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.blur {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: #81a4cdff;
  opacity: 0.5;
  /* color: #f17300ff; */
}

.recomandation_date {
  margin-top: 3px;
  text-align: center;
  pointer-events: none;
  color: #de8e21;
  z-index: 100;
}
