.stock_details__container {
  display: grid;
  grid-template-areas:
    'current'
    'form'
    'error'
    'candle'
    'recomandation'
    'remove';
}
.stock_details__current {
  grid-area: current;
}

.stock_details__form {
  grid-area: form;
}
.stock_details__error {
  grid-area: error;
}

.stock_details__candle {
  grid-area: candle;
  height: 50vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #dbe4eeff;
}

.stock_details__recomandation {
  grid-area: recomandation;
}
.stock_details__remove {
  grid-area: remove;
}
