.stock_details__container {
  display: grid;
  gap: 5px;
  grid-template-areas:
    'current'
    'form'
    'error'
    'candle'
    'info'
    'recomandation'
    'delete';
  border: 1px solid black;
}
.stock_details__current {
  grid-area: current;
}

.stock_details__form {
  grid-area: form;
  background-color: #81a4cdff;
  color: #fff;
}
.stock_details__error {
  grid-area: error;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock_details__candle {
  grid-area: candle;
  height: 50vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #dbe4eeff;
}
.stock_details__info {
  grid-area: info;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #81a4cdff;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: large;
  padding: 5px 5px;
}
.stock_details__recomandation {
  grid-area: recomandation;
  margin-top: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.stock_details__remove {
  grid-area: delete;
  margin: 1rem auto;
}
