.tracked_list {
  margin-top: 20px;
  display: flex;
  width: 960px;

  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3;

  transition: ease-in;
}
.track_elem {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.tracked_items_crypto__link {
  border-radius: 10%;
  border: 1px solid #81a4cdff;
  background-color: #81a4cdff;
  padding: 5px 5px;
  color: #f17300ff;
  font-family: sans-serif;
}
.tracked_items_crypto__link:hover {
  background-color: #054a91ff;
}
[data-button='removeFromTrackList'] {
  cursor: pointer;
  background: #b9465b;
  border-radius: 10%;
  padding: 2px 2px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
}
[data-title='title'] {
  font-family: sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 967px) {
  .tracked_list {
    display: flex;
    width: 600px;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 3;
    transition: ease-in;
  }
  [data-button='removeFromTrackList'] {
    cursor: pointer;
    background: #b9465b;
    border-radius: 10%;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
  }
  [data-title='title'] {
    font-family: sans-serif;
    font-weight: 400;
  }
}
@media only screen and (max-width: 769px) {
  .tracked_list {
    display: flex;
    width: 400px;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 3;
    transition: ease-in;
  }
  [data-button='removeFromTrackList'] {
    cursor: pointer;
    background: #b9465b;
    border-radius: 10%;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 200;
    text-align: center;
  }
  [data-title='title'] {
    font-family: sans-serif;
    font-weight: 200;
  }
}
@media only screen and (max-width: 481px) {
  .tracked_list {
    display: flex;
    width: 300px;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 3;
    transition: ease-in;
  }
  [data-button='removeFromTrackList'] {
    cursor: pointer;
    background: #b9465b;
    border-radius: 10%;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
  }
  [data-title='title'] {
    font-family: sans-serif;
    font-weight: 100;
  }
}

@media only screen and (max-width: 381px) {
  .tracked_list {
    display: flex;
    width: 200px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    gap: 3;
    transition: ease-in;
  }
  [data-button='removeFromTrackList'] {
    cursor: pointer;
    background: #b9465b;
    border-radius: 10%;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
  }
  [data-title='title'] {
    font-family: sans-serif;
    font-weight: 100;
  }
}
